<div class="flex space-x-4">
    <div class="flex space-x-4"></div>
</div>

<div class="container">
    <div class="row">
        <div class="col-1">
            <div class="p-2 bg-light">LOGO</div>
        </div>
        <div class="col-10">
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
                <button class="nav-item nav-link btn btn-outline-primary">
          Button
        </button>
            </ul>
        </div>
        <div class="w-100"></div>
    </div>
</div>