<div class="flex space-x-4">
    <div class="">LOGO</div>
    <div class="flex space-x-4">
        <ul class="">
            <li class="">Home</li>
            <li class="">Gallery</li>
            <li class="">Events</li>
            <li><button class="">Book</button></li>
        </ul>
    </div>
</div>